<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download | InShare - File Sharing Made Easy</title>
    <link rel="stylesheet" href="/css/fileupload.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
          <img src="/img/logo.png" alt="Inshare logo" class="logo4">
        </div>
        <div class="nav-links">
          <a href="profile" class="profile">Profile</a>
          <a href="history" class="history">History</a>
          <a href="logout" class="logout">Logout</a>
        </div>
      </div>
      
     

    <div class="download">
        <img class="download__icon" src="/img/download-sd.svg" alt="inshare-download">
        <% if(locals.error){ %>
        <h4><%= locals.error %> 😏</h4>
        <% } else { %>
        <h2>Upload your File</h2>
       
        <div class="download__meta">
            
        </div>
        <div class="send-btn-container">
            <form class="upload" action="/api/files" method="post" enctype="multipart/form-data">
                <label id="inputTag1">
                    Browse ↑
                </br>
                    <input id="inputTag2" type="file" name="myfile" placeholder="Browse" />
                  </label>
               
            <button class="button-43" role="button">upload</button>



              </form>

        </div>
        <% } %>
    </div>
</body>

</html>