<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download | InShare - File Sharing Made Easy</title>
    <link rel="stylesheet" href="/textarea/textarea.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
          <img src="/img/logo.png" alt="Inshare logo" class="logo4">
        </div>
        <div class="nav-links">
          <a href="profile" class="profile">Profile</a>
          <a href="history" class="history">History</a>
          <a href="logout" class="logout">Logout</a>
        </div>
      </div>
       
   <div class="text_area">
    <h3>Pastebin</h3>

    <form action="/api/text" method="post" type="text/plain">
        <textarea name="Textdata" class="text_input"></textarea>
   
        <button class="button-43" role="button">Paste</button>
    </form>
   </div>
    
    
</body>

</html>